#====================================================================================#
# Remove the leading '#' from a line to uncomment a file type to begin ignoring.     #
#     Commented = synced/allowed                                                     #
#     Uncommented = ignored/disallowed                                               #
#====================================================================================#

# Java Files
#-------------------
*.class
#*.java
#.jar

# Text Files
#-------------------
#*.txt
#*.dat

# PDF Files
#-------------------
#*.pdf

# HTML Files
#-------------------
#*.htm
#*.html
#*.css
#*.js

# Audio Files
#-------------------
#*.mp3
#*.m3u
#*.aac
#*.wma
#*.asx
#*.ogg
#*.wav
#*.aiff
#*.au

# Video Files
#-------------------
#*.mov
#*.qt
#*.mpeg
#*.mpg
#*.mp4
#*.m4v
#*.avi
#*.wmv
#*.asf
#*.flv

# MacOS Files
#-------------------
.DS_Store
#.*

# Windows Files
#-------------------
Thumbs.db
*.tmp
